files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            API_JAR_PATH=/var/app/current/fairer-api.jar
            BATCH_JAR_PATH=/var/app/current/fairer-batch.jar

            # run app
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=real -jar $API_JAR_PATH
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=real -jar $BATCH_JAR_PATH