files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=real -jar $JAR_PATH