files:
    "/sbin/api_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            kill `ps -ef | grep /var/app/current/fairer-api.jar | awk '{print $2}'`
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=dev -jar /var/app/current/fairer-api.jar
    "/sbin/batch_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            kill `ps -ef | grep /var/app/current/fairer-batch.jar | awk '{print $2}'`
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=dev -jar /var/app/current/fairer-batch.jar